* {
    font-family: 'Courier New', Courier, monospace;
}

html {
    box-sizing: border-box;
    background-color: beige;
}

*,
* ::before,
* ::after {
    box-sizing: inherit;
}

h1 {
    /* This one is by default display: block */
    text-align: center;
    /* border: 1px solid black; */
    width: 500px;
    margin: 20px auto;
    padding: 10px;
}

.container {
    display: block;
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    background-color: white;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px;
    height: 30px;
}

a {
    color: black;
    text-decoration: none;
    display: block;
    /* width: 300px; */
    width: 200px;
    margin: 0 auto;
}

/* There is an order to anchor elements pseudo-classes */
/* Link > Visited > Hover > Active */

a:visited {
    color: black;
}

a:hover {
    font-weight: bold;
    /* font-size: 20px; */
}