* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
}

html {
    box-sizing: border-box;
    background-color: beige;
}

*,
* ::before,
* ::after {
    box-sizing: inherit;
}

h1 {
    /* This one is by default display: block */
    text-align: center;
    /* border: 1px solid black; */
    width: 500px;
    margin: 20px auto;
    padding: 10px;
}

h3 {
    /* This one is by default display: block */
    text-align: center;
    /* border: 1px solid black; */
    width: 500px;
    margin: 5px auto;
    margin-top: 15px;
    padding: 5px;
}

.container {
    display: block;
    width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    background-color: white;
}

img {
    display: block;
    width: 500px;
    margin: 0 auto;
}

p {
    display: inline-block;
    margin: 0px;
    color: gray;
}

ol {
    padding: 0;
}

ol li {
    height: max-content;
}

ol ol {
    margin-left: 40px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px auto;
    height: 20px;
    width: 50%;
    text-align: left;
}

a {
    color: black;
    text-decoration: none;
    display: block;
    /* width: 300px; */
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

/* There is an order to anchor elements pseudo-classes */
/* Link > Visited > Hover > Active */

a:visited {
    color: black;
}

a:hover {
    font-weight: bold;
    /* font-size: 20px; */
}